<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="${dubbo.application}"/>
    <!-- 使用multicast广播注册中心暴露服务地址 // register="false"-->

    <!-- TODO 提测后改回 ${dubbo.cache} -->
    <dubbo:registry address="${dubbo.registry}" file="cache/process-engine.cache"/>
    <dubbo:consumer check="false" timeout="${dubbo.time-out}" retries="0"/>

    <dubbo:service ref="platformChannelApi" interface="com.touchealth.process.engine.api.PlatformChannelApi" timeout="${dubbo.time-out}" group="${dubbo.provider.group}"/>
    <dubbo:service ref="pageManagerApi" interface="com.touchealth.process.engine.api.PageManagerApi" timeout="${dubbo.time-out}" group="${dubbo.provider.group}"/>
    <dubbo:service ref="processUserApi" interface="com.touchealth.process.engine.api.ProcessUserApi" timeout="${dubbo.time-out}" group="${dubbo.provider.group}"/>
    <dubbo:service ref="authApi" interface="com.touchealth.process.engine.api.AuthApi" timeout="${dubbo.time-out}" group="${dubbo.provider.group}"/>

    <dubbo:reference interface="com.touchealth.api.core.service.UserService" id="userCoreService"
                     timeout="${dubbo.time-out}" group="${dubbo.consumer.group.core}"/>

    <dubbo:reference interface="com.touchealth.api.core.service.UserThirdpartyService" id="userThirdpartyService"
                     timeout="${dubbo.time-out}" group="${dubbo.consumer.group.core}"/>

    <dubbo:reference interface="com.touchealth.api.core.service.IdGeneratorService" id="idGeneratorService"
                     timeout="${dubbo.time-out}" group="${dubbo.consumer.group.core}"/>

    <!--文件下载服务-->
    <dubbo:reference id="downloadService" interface="com.touchealth.api.file.service.DownloadService" group="${dubbo.consumer.group.core}"/>

    <dubbo:reference interface="com.touchealth.api.core.service.SysWechatAccountService" id="sysWechatAccountService"
                     timeout="${dubbo.time-out}" group="${dubbo.consumer.group.core}"/>

    <dubbo:reference interface="com.touchealth.api.core.service.UserThirdpartyAuthService" id="userThirdpartyAuthService"
                     timeout="${dubbo.time-out}" group="${dubbo.consumer.group.core}"/>

    <dubbo:reference interface="com.touchealth.api.file.service.UploadService" id="uploadService"
                     timeout="${dubbo.time-out}" group="${dubbo.consumer.group.core}"/>

    <dubbo:reference interface="com.touchealth.api.ops.service.wechatofficialaccounts.OfficialAccountsService" id="officialAccountsService"
                     timeout="${dubbo.time-out}" group="${dubbo.consumer.group.ops}"/>

    <dubbo:reference interface="com.touchealth.platform.message.client.service.SmsSendService" id="smsSendService"
                     timeout="${dubbo.time-out}" group="${dubbo.consumer.group.core}"/>
    <dubbo:reference id="rentApi" interface="com.touchealth.platform.user.client.api.RentApi"
                     group="${dubbo.consumer.group.user}"/>
    <!--收藏-->
    <dubbo:reference interface="com.touchealth.api.core.service.SysCollectionService" id="sysCollectionService" group="${dubbo.consumer.group.core}"/>
    <!--浏览记录-->
    <dubbo:reference interface="com.touchealth.api.core.service.SysBrowsingHistoryService" id="sysBrowsingHistoryService" group="${dubbo.consumer.group.core}"/>

    <!--营销中台-问答-->
    <dubbo:reference interface="com.touchealth.platform.marketing.client.service.QuestionAndAnswerApi" id="questionAndAnswerApi"
                     timeout="${dubbo.time-out}" group="${dubbo.consumer.group.marketing}"/>

    <!-- 套餐-->
    <dubbo:reference id="setMealHospitalService" interface="com.touchealth.api.ops.service.SetMealHospitalService" group="${dubbo.consumer.group.ops}"/>

    <!-- 医院-->
    <dubbo:reference id="hospitalService" interface="com.touchealth.api.ops.service.HospitalService" group="${dubbo.consumer.group.ops}"/>

    <dubbo:reference id="branchApi" interface="com.touchealth.physical.api.service.branch.BranchApi" group="${dubbo.consumer.group.physical}"/>
    <dubbo:reference id="branchPowerApi" interface="com.touchealth.physical.api.service.branch.BranchPowerApi" group="${dubbo.consumer.group.physical}"/>
    <dubbo:reference id="userApi" interface="com.touchealth.platform.user.client.api.UserApi" group="${dubbo.consumer.group.user}"/>

    <!--医院套餐服务-->
    <dubbo:reference id="hospitalSetMealApi" interface="com.touchealth.physical.api.service.hsp.HospitalSetMealApi" group="${dubbo.consumer.group.physical}"/>

    <!-- 用户中台-登录 -->
    <dubbo:reference id="loginApi" interface="com.touchealth.platform.user.client.api.LoginApi" timeout="${dubbo.time-out}" group="${dubbo.consumer.group.user}"/>

</beans>
